<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums que eu gosto</title>
    <style>
    
        body{
            color: purple;
            text-align: center;
            background-color: black;
            font-family: "Comic Sans MS", cursive, sans-serif;

            text-shadow: 1px 0 0 white, 
            -1px 0 0 purple, 
            0 1px 0 purple,
            0 -1px 0 purple, 
            1px 1px purple, 
            -1px -1px 0 purple, 
            1px -1px 0 purple, 
            -1px 1px 0 purple;
        }
        form, table {
            width: 30%;
            margin: auto;
            
            border-top: 9px double purple;
            border-right: 5px double purple;
            border-bottom: 9px double white;
            border-left: 5px double gray;
            
            padding: 50px;
            box-sizing: border-box;
            border-radius: 10px;
        }
        form > div {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        form > div > label {
            font-size: 18pt;
        }
        form > div > input {
            margin-top: 15px;
            font-size: 18pt;
            padding: 5px 10px;
        }
        table {
            margin-top: 15px;
        }
        thead th {
            background: #333;
            color: #fff;
        }
        table{
            border-collapse: collapse;
        }
        table, th, td {
          border: 3px solid white;
        }
    </style>
</head>
<body>
    <form>

        <img src="https://old.officialpsds.com/thumbs/Purple-Skulls-psd72013.png" alt="yeah">

        <div>
            <label>Nome do album</label>
            <input type="text"/>
        </div>
        <div>
            <label>Banda</label>
            <input type="text"/>
        </div>
        <div>
            <label>Quantidade de Musicas</label>
            <input type="number" />
        </div>
        <div>
            <label>Tempo Total</label>
            <input type="number"/>
        </div>
        <div>
            <input type="submit" value="Salvar"/>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome do Album</th>
                <th>Banda</th>
                <th>Quantidade de Musicas</th>
                <th>Ttempo Total</th>
            </tr>
        </thead>
        <tbody>
            {% for Album in listaAlbum %}
            <tr>
                <td>{{ Album.nome }}</td>
                <td>{{ Album.banda }}</td>
                <td>{{ Album.qtdMusicas }}</td>
                <td>{{ Album.tempoTotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>